<main class="main">
  <div class="inner">
    <%# ログインしているときは以下を表示%>
    <% if user_signed_in? %>
      <div class="greeting">
          <%= link_to current_user.user_name + "さん", root_path, class: :greeting__link%>
      </div>
    <% end %>

    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでプロトタイプ投稿一覧を表示する %>
      <%= render partial: "record", collection: @record %>
  </div>
</main>


