<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">お店登録</h2>
        <%= render partial: "form", locals: { record: @record } %>
    </div>
  </div>
</div>